<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094908603532-564kbpuohg30r2a8p4bi1ulrtm2a0g6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094908603532-564kbpuohg30r2a8p4bi1ulrtm2a0g6o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094908603532-k17559ptk1eq9ud4kaiqdfm5vmiknesv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLDawCJzazlZpeFf2wZfeve8SMunxhG00</string>
	<key>GCM_SENDER_ID</key>
	<string>1094908603532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sblashkov.pusher</string>
	<key>PROJECT_ID</key>
	<string>pusher-auth-entry-point</string>
	<key>STORAGE_BUCKET</key>
	<string>pusher-auth-entry-point.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094908603532:ios:de10149e0960ca767f1fa9</string>
</dict>
</plist>